---
import ArchiveLayout from '../../layouts/ArchiveLayout.astro';
import { getLogs } from '../../archive';

const logs = await getLogs();
---

<ArchiveLayout title="Logs · Finch Archive">
  <main>
    <h1>Logs</h1>
    <ol>
      {logs.map((log) => (
        <li>
          <a href={log.permalink}>{log.title}</a>
          <br />
          <time datetime={log.date}>{log.date}</time>
        </li>
      ))}
    </ol>
  </main>
</ArchiveLayout>
