---
import ArchiveLayout from '../../layouts/ArchiveLayout.astro';
import ArchiveOfficeEntry from '../../components/ArchiveOfficeEntry.astro';
---

<ArchiveLayout hideHeader={true} title="The Archive">
  <main class="archive-room">
    <ArchiveOfficeEntry />
  </main>
</ArchiveLayout>
