---
import ArchiveLayout from '../../layouts/ArchiveLayout.astro';
import LocationScene from '../../components/LocationScene.astro';
---

<ArchiveLayout hideHeader={true} title="The Archive">
  <main class="archive-room">
    <LocationScene />
  </main>
</ArchiveLayout>
