---
import ArchiveLayout from '../../layouts/ArchiveLayout.astro';
import DeskScene from '../../components/DeskScene.astro';
---

<ArchiveLayout hideHeader={true} title="The Archive">
  <main class="archive-room">
    <DeskScene />
  </main>
</ArchiveLayout>
